name: Update Changelog WordPRess
on:
  push

jobs:
  send_pull_requests:
    runs-on: ubuntu-latest
    name: Update WordPress data
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: output
        shell: bash
        run: script.sh