name: Update Data WordPRess
on:
  release:
    types: [published]

jobs:
  send_pull_requests:
    runs-on: ubuntu-latest
    name: Update WordPress data
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Update changelog WordPress
        run: "${GITHUB_WORKSPACE}/.github/update-changelog.sh"
        shell: bash
      - name: Update version WordPress
        run: "${GITHUB_WORKSPACE}/.github/update-version.sh"
        shell: bash
      with:
        upload_url: ${{ github.event.release.upload_url }}
        asset_path: ${{ steps.deploy.outputs.zip-path }}
        asset_name: ${{ github.event.repository.name }}.zip
        asset_content_type: application/zip
        