name: Update Data WordPRess
on:
  push

jobs:
  send_pull_requests:
    runs-on: ubuntu-latest
    name: Update WordPress data
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Update changelog WordPress
        run: "${GITHUB_WORKSPACE}/.github/update-changelog.sh"
        shell: bash
      - name: Update version WordPress
        run: "${GITHUB_WORKSPACE}/.github/update-version.sh"
        shell: bash